/JDBC/nbproject/private/
/JDBC/build/
/Java_fx/nbproject/private/
/Java_fx/build/
/Jeeswan/nbproject/private/
/Jeeswan/build/
/Lab3/nbproject/private/
/Lab/nbproject/private/
/Lab/build/
/Lab3_2/nbproject/private/
/Lab3_2/build/
/Lab3_3/nbproject/private/
/Lab3_3/build/
/Lab (Jeeswan)/nbproject/private/
/Lab (Jeeswan)/build/
/Lab3_4/nbproject/private/
/Lab3_4/build/
/lab3.4/nbproject/private/
/lab3.4/build/
/Lab3Last/nbproject/private/
/Lab3_1&2/nbproject/private/
/Lab3_4/dist/
/Lab (Jeeswan)/dist/
/Lab3_3/dist/
/Lab3_1&2/build/
/Lab3_1&2/dist/
/ServletDemo(Alisha)/nbproject/private/
/ServletDemo(Alisha)/build/
/Q42Servlet/nbproject/private/
/Q42Servlet/build/
/Q42Servlet/dist/
/LAb3Q42/nbproject/private/
/LAb3Q42/dist/
/LAb3Q42/build/
/Q42Lab3/nbproject/private/
/Q42Lab3/build/
/WebApplication1/nbproject/private/
/Lab3JSP/nbproject/private/
/Lab3JSP/build/
